<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <configSections>
        <section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <akka>
        <hocon>
            <![CDATA[
        akka {
          persistence {
            journal {
              #plugin = "akka.persistence.journal.sql-server"
              plugin="akka.persistence.journal.postgresql"
              postgresql {
                class = "Akka.Persistence.PostgreSql.Journal.PostgreSqlJournal, Akka.Persistence.PostgreSql"
                schema-name = public
                auto-initialize = on
                #connection-string = "jdbc:postgresql://localhost:5432/persistence"
                connection-string = "Server=localhost;Port=5432;Database=persistence"
              }
              sql-server {
                class = "Akka.Persistence.SqlServer.Journal.SqlServerJournal, Akka.Persistence.SqlServer"
                schema-name = dbo
                auto-initialize = on
                connection-string = "Data Source=(LocalDB)\\MSSQLLocalDB;AttachDbFilename=\\\\Mac\\Home\\PMF GDrive\\Nastava\\2019-2020\\RS_19-20\\Vj06\\PersistentActorExample\\PersistentActorExample\\App_Data\\Persistence.mdf;Integrated Security=True"
              }
            } 
            snapshot-store {
              #plugin = "akka.persistence.snapshot-store.sql-server"
              plugin = "akka.persistence.snapshot-store.postgresql"
              postgresql{
                class = "Akka.Persistence.PostgreSql.Snapshot.PostgreSqlSnapshotStore, Akka.Persistence.PostgreSql"
                schema-name = public
                auto-initialize = on
                #connection-string = "jdbc:postgresql://localhost:5432/persistence"
                connection-string = "Server=localhost;Port=5432;Database=persistence"
              }
              sql-server {
                class = "Akka.Persistence.SqlServer.Snapshot.SqlServerSnapshotStore, Akka.Persistence.SqlServer"
                schema-name = dbo
                auto-initialize = on
                connection-string = "Data Source=(LocalDB)\\MSSQLLocalDB;AttachDbFilename=\\\\Mac\\Home\\PMF GDrive\\Nastava\\2019-2020\\RS_19-20\\Vj06\\PersistentActorExample\\PersistentActorExample\\App_Data\\Persistence.mdf;Integrated Security=True"
              }
            }
          }   
        }
      ]]>
        </hocon>
    </akka>
</configuration>